/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 2% 5% 0;
}

.all-contents {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: auto auto 100px;
}

.banner-contents {
    grid-column: 1/-1;
    background-color: #161616;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 2% 5% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 25px;
}

.watch-button {
    margin: 20px 0;
}

.watch-button a {
    background-color: #DD0000;
    font-size: 20px;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #161616;
}

/* header mobile view responsive */
@media screen and (max-width:556px) {
    .banner-contents {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    .banner-info {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    .banner-info p {
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .banner-img img {
        width: 80%;
    }
}

/* banner-area completed */

/* aside */
.aside {

    grid-column: 1/-11;
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 2fr));
    margin-right: 5px;
}

.aside-buttons {
    max-height: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #dfdcdccc;
    border-radius: 20px;
    justify-content: center;
}

.aside-buttons a {
    height: 30px;
    width: 180px;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    border: .1px solid #00000045;
}

#active-btn {
    background-color: #DD0000;
    color: #FFFFFF;
}

/*-----------------
 aside tablet responsive
 --------------------- */
@media screen and (min-width:557px) and (max-width:991px) {
    .banner-contents {
        grid-template-columns: 7fr 5fr;
    }

    .banner-img img {
        width: 90%;
    }

    .aside {
        grid-column: 1/-1;
        margin-bottom: 20px;
    }

    .aside-buttons {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/*------------------
 aside mobile responsive 
 -------------------*/
@media screen and (max-width:556px) {
    .aside {
        grid-column: 1/-1;
        margin-bottom: 20px;
    }

    .aside-buttons {
        align-items: center;
    }
}

/*-----------------
 aside ended 
 ------------------*/